$color1:#fff;
$color2:#00ff00;
$color3:#171717;
$color4:#D89756;
$color5:#595656;

//font
$fontSize:1.8rem;
$fontSizeH1:5rem;
$fontSizeH2:4rem;
$fontSizeH3:1.8rem;
$fontSizeHeader:1.5rem;
$fontFamilyBody:"DM Sans";
$fontFamily2:'Cormorant Upright', serif;
$fontFamily1:"LXGW WenKai Mono TC", monospace;

$lineHeight:1.5
