@import "src/assets/styles/core/mixin";
.block-slider {
  padding-top: 5rem;
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .text-title {
    grid-column: span 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
  }
  .slide-container {
    grid-column: span 3;
    position: relative;
    width: 100%;
    height: 500px;

    .slides {
      width: 100%;
      height: calc(100% - 40px);
      position: absolute;
      clip-path: circle(0% at 0 50%);

      &.active {
        display: block;
        transition: 2s;
        clip-path: circle(150% at 0 50%);
        transition-property: clip-path;
      }
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
      }
    }
    .slide-trans {
      opacity: 0;
      transform: translateX(-50%);
      transition: opacity 1s ease-out, transform 1s ease-out;
    }
    .slide-trans.animate {
      opacity: 1;
      transform: translateX(0);
    }
    .carousel-text-container {
      position: absolute;
      top: 54%;
      left: 0;
      .headline {
        text-align: center
      }
      .text {
        background: rgba(0, 0, 0, 0.5);
        padding: 0 1rem;
        font-size: $fontSize;
        line-height: 2;
        @include screenMaxWidth(950px){
          display: none;
        }
      }
    }
    .carousel-btn{
      position: absolute;
      top: 40%;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      .prev, .next {
        cursor: pointer;
        padding: 16px;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        font-size: 24px;
        transition: background-color 0.3s;
        &:hover {
        background-color: #00ff00;
        }
      }
      &:hover{
        color: #00ff00;
      }
    }
    .dotsContainer {
      display: flex;
      justify-content: center;
      width: 100%;
      position: absolute;
      top: 95%;
      .dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin: 0 2px;
        border: 1px solid #00ff00;
        display: inline-block;
        transition: background-color 0.6s ease;
        cursor: pointer;

        &:hover {
          background: #00ff00;
        }

        &.active {
          background-color: #00ff00;
        }
      }
    }
    .button{
      position: absolute;
      top: 95%;
      left: 0;
      .cta{
        text-transform: capitalize;text-decoration: none;
      }
      &:hover{background: #00ff00;color: $color3;}
    }
  }
}
@media screen and (max-width: 375px) {
      .dotsContainer{
        left: 20%;
        z-index: -2;
    }
}

